{% if reviews == true %}

    <h3>Отзывы</h3>
    <div class="review-slider">
        <div id="reviewSlider" class="carousel slide" data-ride="carousel" data-interval = "{{ app.session.get('reviewSliderTimer') }}">
            <div class="carousel-inner">
                {% for key, review in reviews %}
                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <div class="col-md-8 review-item">
                            <p class="description" >{{ review.link|raw }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#reviewSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#reviewSlider" role="button" data-slide="next" id="review-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endif %}