{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 850px;
        }

        #sortable li {
            margin: 3px 3px 3px 0;
            padding: 1px;
            float: left;
            width: 200px;
            height: 200px;
            font-size: 4em;
            text-align: center;
            position: relative;
        }

        #sortable img {
            height: 200px;
            width: 200px;
        }

        .delete{
            position: absolute;
            top: 1px;
            right: 0;
        }
        .delete i{
            color: white;
        }
        .delete:hover{
            background:darkred;
            border-color: darkred;
        }

    </style>
{% endblock %}
{% block sonata_admin_content %}
<div style="max-width: 100%; max-height: 100%">
    <ul id="sortable">
        {% for image in images %}
            <li class="ui-state-default" id="{{ image.id }}">
                <a class="btn btn-success delete" href="{{ admin.generateObjectUrl('remove', image) }}">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                </a>
                <img src="{{ vich_uploader_asset(image.image, 'imageFile') }}" alt="">

            </li>

        {% endfor %}
    </ul>
</div>

{% endblock %}
{% block sonata_page_content_nav %}
    <a href="{{ admin.generateObjectUrl('list', object) }}" class="btn btn-success" id="qwerty"
       name="btn_update_and_list"><i class="fa fa-list" aria-hidden="true"></i> Вернуться к списку</a>
    <a class="btn btn-success" href="{{ admin.generateObjectUrl('upload', object) }}">
        <i class="fa fa-upload" aria-hidden="true"></i> Загрузить
    </a>
{% endblock %}
{% block javascripts %}
    <script src='{{ asset('vendor/jquery/jquery-3.3.1.min.js') }}'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            let sortable = $("#sortable");
            sortable.sortable();
            sortable.sortable("option", "revert", true);
            sortable.disableSelection();
        });
        $(document).ready(function () {
            $('#sortable').sortable({
                update: function (event, ui) {
                    let newIndex = ui.item.index();
                    let element_id = ui.item.attr('id');
                    let data = {id: element_id, position: newIndex};
                    $.get("{{ admin.generateUrl('sorting') }}", {sort: data}, function (data) {
                    });
                }
            });
        });

    </script>
{% endblock %}


