{% extends 'base.html.twig' %}
{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% block title %}{{ event.eventName }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar_for_events.html.twig') }}
                <div class="item-page col-lg-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                  <span id="breadcamp-active-page">
                                    {{ event.eventName }}
                                  </span>
                            </li>
                        </ul>
                    </div>
                    <div class="module-single-item">
                        <h3>{{ event.eventName }}</h3>
                        <div class="event-right">
                            <div class="event-type">
                                {{ event.categories[0] }}
                            </div>
                        </div>
                        <div class="event-head">
                            <div class="event-date">
                                <div class="day">{{ event.eventStart|date('d') }}</div>
                                <div class="month-year event-month">{{ mnths[event.eventStart|date("n")] }}
                                    <br>{{ event.eventStart|date('Y') }} </div>
                            </div>
                        </div>

                        <div class="wrapper">
                            <img class="module-page-image"
                                 src="{{ vich_uploader_asset(event, 'imageFile') }}"/>
                            {% if event.orderLimit > 0 %}
                                <div class="limit">
                                    <p> Осталось {{ event.orderLimit }} мест </p>
                                </div>
                            {% else %}
                                <div class="limit">
                                    <p> Не осталось мест </p>
                                </div>
                            {% endif %}
                        </div>
                        <p class="module-page-description">{{ event.fullDescription | raw }}
                        </p>
                        <h5>Тренеры меропрития:</h5>
                        <div class="row">
                            {% for coach in event.eventCoachs %}
                                <div class="col-lg-4">
                                    <div class="event-coach-item">
                                        <img class='event-coach-image'
                                             src="{{ vich_uploader_asset(coach, 'imageFile') }}"/>
                                        <div>
                                            <a class="event-coach-link"
                                               href="{{ path('app_coach_single', {'id':coach.id}) }}">{{ coach.fullName }}</a>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <h5>Записались:</h5>
                        <div class="row">
                            {% for booking in eventSession.EventBookings %}
                                <div class="col-lg-1 pb-3 pt-3 " id="user-{{ booking.id }}">
                                    <img class="userImage tooltip-test" title="{{ booking.user.fullName }}"
                                         src="{{ vich_uploader_asset(booking.user, 'avatarFile') }}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        {% if event.orderLimit > 0 %}
                        <div class="event-page-booking">
                            {% if event.eventEnding > date() %}
                                <a id="booking-{{ event.id }}" class="booking-link"
                                   href="{{ path('app_events_booking',{'id': event.id}) }}">Зарегистрироваться</a>
                            {% else %}
                                <p class="booking-disabled" id="booking-disabled-page"> Набор завершен</p>
                            {% endif %}
                            {% else %}
                                <p class="booking-disabled" id="booking-disabled-page"> Набор завершен</p>

                            {% endif %}
                            <a data-fancybox data-animation-duration="700" data-src="#animatedModal" href="javascript:;"
                               class="program-btn">Программа курса</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="card event-plan">
        <div class="card-body">
            <div style="display: none;" id="animatedModal" class="animated-modal">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
