<div class="row">
    <div class="col-lg-6">

        {% for contact in contacts %}

            <p class="branch pt-2">Офис {{ loop.index }}</p>

            {% for phone in contact.phones %}
                <p class="contact_phone"><i class="fas fa-phone"></i> <a href="tel:{{ phone }}">{{ phone }}</a> </p>
            {% endfor %}

            <p class="contact_fax"><i class="fas fa-fax"></i> <a href="tel:{{ contact.fax }}">{{ contact.fax }}</a></p>
            <p class="contact_address"><i class="fas fa-map-pin"></i> {{ contact.address }}</p>

        {% else %}
            <p>Пока что ни одного контакта не найдено</p>
        {% endfor %}
    </div>
    <div class="col-lg-6">
        <div id="map" style="width: 100%; height: 500px"></div>

        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQgC-9GVPHTFOyrF_Ys-wrW988ttCHOOc&callback=initMap"
                    async defer></script>

            <script>

                var address = document.getElementsByClassName('address');

                function initMap() {
                    var myLatLng = {lat: 42.8583756, lng: 74.5683408};

                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng,
                        zoom: 14,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    var infowindow = new google.maps.InfoWindow();
                    var marker;

                    {% for latlng in latlngAndAdress %}

                        marker = new google.maps.Marker({
                            position: new google.maps.LatLng({{ latlng.coordinates }}),
                            map: map
                        });

                        google.maps.event.addListener(marker, 'click', (function(marker) {
                        return function() {
                            infowindow.setContent('<p class="infowindow">ФИЛИАЛ #'+'{{ loop.index }}<br>'+'{{ latlng.address }}</p>');
                            infowindow.open(map, marker);
                            infowindow.size(19)
                        }
                    })(marker));


                    {% endfor %}
                }
            </script>
        {% endblock %}
    </div>
</div>

