{% extends 'base.html.twig' %}
{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
{% block title %}{{ singleNews.title }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}

                <div class="module-single-item col-md-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                  <span id="breadcamp-active-page">
                                    {{ singleNews.title }}
                                  </span>
                            </li>
                        </ul>
                    </div>
                    <h3>{{ singleNews.title }}</h3>
                    <p class="module-single-date">{{singleNews.date|date('d') }} {{ mnths[singleNews.date|date("n")] }} {{ singleNews.date|date('Y') }}</p>
                    <div class="wrapper">
                        <img class='module-single-image' src="{{ vich_uploader_asset(singleNews, 'imageFile') }}"/>
                    </div>
                    <div class="module-single-description">
                        {{ singleNews.fullDescription|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
