{% if coaches == true %}
    <h3>Наши тренеры</h3>
    <div id="trainersSlider" class="carousel slide" data-ride="carousel" data-interval = "{{ app.session.get('coachSliderTimer') }}">
        <div class="carousel-inner">
            {% for key, coach in coaches %}
                <div class="carousel-item {% if key == 0 %} active {% endif %}">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img class="w-100" src="{{ vich_uploader_asset(coach, 'imageFile') }}">
                        </div>
                        <div class="col-lg-8 traner-info mt-5">
                            <h5 class="text-center text-lg-left">{{ coach.fullname }}</h5>
                            <p class="description">{{ coach.shortDescription }}</p>
                            <a href="{{ path('app_coach_single', {'id': coach.id}) }}">Подробнее...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#trainersSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#trainersSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% else %}
{% endif %}