{% extends 'base.html.twig' %}

{% block title %}
    {{ app.session.get('mainPageTitle') }}
{% endblock %}

{% block content %}

    <div class="main-slider">
        {{ render(controller(
        'App\\Controller\\SliderController::showOnMainAction'
        )) }}

    </div>

    <div class="container info-block">
        <div class="row">
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="sections">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3><a href="{{ path('app-dynamic-page', {'route':'for-company'} ) }}">Услуги</a></h3>
                            <a href="{{ path('app-dynamic-page', {'route':'for-company'} ) }}"><img src="{{ asset('images/services.jpg') }}" alt="Услуги" /></a>
                        </div>
                        <div class="col-lg-6">
                            <h3><a href="{{ path('app-dynamic-page', {'route':'events'} ) }}">Тренинги</a></h3>
                            <a href="{{ path('app-dynamic-page', {'route':'events'} ) }}"><img src="{{ asset('images/trainings.jpg') }}" alt="Тренинги" /></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="reviews col-lg-6 col-sm-12">
                        {{ render(controller(
                            'App\\Controller\\ReviewModuleController::showReviewSliderAction'
                        )) }}
                    </div>
                    <div class="videogallery col-lg-6 col-sm-12">
                        {{ render(controller(
                            'App\\Controller\\VideoGalleryModuleController::showVideoGallerySliderAction'
                        )) }}
                    </div>
                </div>

                <div class="trainers">
                    {{ render(controller(
                    'App\\Controller\\CoachModuleController::showSliderAction'
                    )) }}
                </div>
            </div>



            <div class="col-lg-3 col-md-6 col-sm-12 sidebar">
                <div class="banner text-center">
                    {{ include('network_module/facebook.html.twig') }}
                </div>
                <div class="dispatch text-center">
                    <h5>Рассылка</h5>
                    <form action="{{ path('app_subscription') }}" method="post">
                        <input name="email" type="email" placeholder="Введите ваш e-mail"/>
                        <input type="submit" value="Подписаться" class="yellow-button"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="schedule">
        {{ render(controller(
        'App\\Controller\\EventsModuleController::showEventsSliderAction'
        )) }}
    </div>

    <div class="content">
        <div class="container">
            <div class="item-page">
                {{ app.session.get('mainPageTextBlock') | raw }}
            </div>
        </div>
    </div>



{% endblock %}