{% for video in videos %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-md-9">
                <p class="module-page-name">{{ video.link|raw }}</p>
            </div>
        </div>
    </div>
{% endfor %}


